footer{
    padding-top: 120px;
    padding-bottom: 144px;
    background-color: #171717;
    background-image: url(../imgs/footer_bottom_bg.png);
    background-repeat: no-repeat;
    background-position: center bottom;

    @media #{$small_tab}{
        padding-top: 70px;
    }
    @media #{$small_mobile}{
        padding-bottom: 100px;
        background-position: center calc(100% - -45px);
    }
    @media #{$small_mobile}{
        padding-top: 50px;
    }
    .footer_block{
        display: flex;
        justify-content: space-between;
        margin-bottom: 70px;
        @media #{$small_tab}{
            flex-direction: column;
            gap: 30px;
        }
        @media #{$big_mobile}{
            margin-bottom: 50px;
            gap: 50px;
        }
        nav{
            display: flex;
            gap: 80px;
            @media #{$big_tab}{
                gap: 35px;
            }
            @media #{$small_tab}{
                justify-content: center;
            }
            @media #{$big_mobile}{
                flex-direction: column;
                align-items: center;
            }
            ul{
                display: flex;
                flex-direction: column;
                gap: 12px;
                
                li{
                    color: #F7F7F7;
                    font-family: 'Inter';
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 24px; /* 171.429% */
                    text-transform: uppercase;
                    &:first-child{
                        margin-bottom: 12px;
                    }
                    @media #{$small_tab}{
                        text-align: center;
                    }
                    @media #{$small_mobile}{
                        font-size: 13px;
                    }
                    a{
                        color: #F1F1F1;
                        font-family: 'Inter';
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 24px; /* 150% */
                        border-radius: 99px;
                        background: #262626;
                        padding: 4px 12px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        transition: all ease-in 0.2s;
                        &:hover{
                            background: #A9F04A;
                            color: #101010;
                        }
                        @media #{$big_tab}{
                            font-size: 14px;
                        }
                        @media #{$small_mobile}{
                            font-size: 13px;
                        }
                    }
                }
            }
        }
        .f_actions{
            display: flex;
            flex-direction: column;
            gap: 10px;
            @media #{$small_tab}{
                align-items: center;
            }
            li{
                a{
                    color: #F1F1F1;
                    font-family: 'Inter';
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 41px; /* 256.25% */
                    @media #{$big_tab}{
                        line-height: 25px;
                    }
                    @media #{$small_mobile}{
                        font-size: 14px;
                        line-height: 22px;
                    }
                }
            }
        }
    }
    .footer_bottom{
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media #{$small_tab}{
            flex-direction: column;
            gap: 30px;
        }
        .confirm{
            color: #F1F1F1;
            font-family: 'Inter';
            font-size: 14px;
            font-weight: 400;
            line-height: normal;
            @media #{$small_tab}{
                order: 2;
            }
            @media #{$small_mobile}{
                font-size: 13px;
            }
        }
        .social_net{
            display: flex;
            align-items: center;
            gap: 30px;
            @media #{$small_tab}{
                order: 1;
            }
            @media #{$big_mobile}{
                gap: 25px;
            }
            li{
                a{
                    background-color: #C4C4C4;
                    height: 30px;
                    width: 30px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #171717;
                }
            }
        }
    }
}
.go_up{
    color: #101010;
    font-family: 'Inter';
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    border-radius: 29px;
    background: #A9F04A;
    padding: 4px 12px;
    position: fixed;
    bottom: 24px;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: max-content;
    z-index: 9;
    @media #{$small_tab}{
        font-size: 12px;
    }
}