.powered{
    background-color: #F1F1F1;
    padding-bottom: 250px;
    padding-top: 125px;
    @media #{$small_tab}{
        padding-bottom: 140px;
        padding-top: 70px;
    }
    @media #{$small_mobile}{
        padding-top: 50px;
        padding-bottom: 100px;
    }
    .mini_top_text{
        margin-bottom: 40px;
        color: #010;
        border-radius: 99px;
        border: 1px solid rgba(16, 16, 16, 0.50);
    }
    .section_title{
        margin-bottom: 24px;
        color: #101010;
        text-align: center;
    }
    .section_subtitle{
        margin-bottom: 60px;
        color: #101010;
        text-align: center;
        max-width: 625px;
        @media #{$big_tab}{
            br{
                display: none;
            }
        }
    }
    .powered_top{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .powered_actions{
        display: flex;
        align-items: center;
        gap: 25px;
        justify-content: center;
        @media #{$big_mobile}{
            flex-direction: column;
        }
        .powered_btn{
            display: flex;
            padding: 14px 28px;
            justify-content: center;
            align-items: center;
            border-radius: 8px;
            text-align: center;
            font-family: 'Inter';
            font-size: 16px;
            font-weight: 500;
            line-height: 150%; /* 24px */
            transition: all 0.4s ease-in-out;
            @media #{$small_tab}{
                font-size: 14px;
                padding: 10px 25px;
            }
            &.light{
                background-color: #A9F04A;
                color: #2E2E2E;
                &:hover {
                    background-color: #101010; // Slightly darker green for hover
                    color: #FDFCFD;
                }
            }
            &.black{
                background-color: #101010;
                color: #fff;
                &:hover {
                    background-color: #A9F04A; // Slightly darker green for hover
                    color: #2E2E2E;
                }
            }
            
        }
    }
    &.know{
        padding: 180px;
        background-color: #A9F04A;
        @media #{$big_tab}{
            padding: 150px 0;
        }
        @media #{$small_tab}{
            padding: 120px;
        }
        @media #{$big_mobile}{
            padding: 90px 0;
        }
        .section_subtitle{
            @media #{$small_tab}{
                margin-bottom: 35px;
            }
        }
        .powered_actions{
            .powered_btn{
                &.black{
                    &:hover {
                        background-color: #101010; // Slightly darker green for hover
                        color: #fff;
                    }
                }
            }
        }
    }
}